.game-slips {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Adjust based on your preference */
  gap: 5px;
  height:fit-content;
}

.game-slip {
  background-color: #fff;
  height: fit-content;
  margin: 10px 0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.game-slip.winner {
  border: 3px solid rgb(128, 221, 128); /* green border for winning slips */
}

.game-slip-numbers {
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* Adjust based on your preference */
  gap: 5px;
}

.number-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 5px;
  background-color: #f0f2f5;
  color: #333;
}

.number-cell.selected {
  background-color: red;
  color: white;
}

.line {
  width: 80%; /* Adjust the width as needed */
  height: 3px; /* Adjust the height as needed */
  background-color:#fff; /* Adjust the color as needed *//* Adjust the margin as needed */
}

.summary-container{
 display: flex;
 justify-content: center;
}

.match-info {
  display: flex;
flex-direction: column;
  color: #333;
}

.user-slip-info {
  display: flex;
flex-direction: column;
  color: #333;
  margin-bottom: 5px;
}

.draw{
position:absolute;
width: 20%;
bottom:15px;
}

.sort-button{
position:absolute;

bottom:3%;
}

.draw-section{
  display:block;
}

@media only screen and (max-width: 550px) and (min-width: 260px)  {
  .game-slips {
    grid-template-columns: repeat(1, 1fr); 
  }

  .draw-section{
    display:none;
  }
}

@media screen and (max-width: 1192px) and (min-width: 560px) {
  .game-slips {
  grid-template-columns: repeat(2, 1fr); 
  }
  
  .draw-section{
    display:none;
  }
  }
