.App {
  background-image: url('../public/images/lotto-keeper.jpeg');
  margin: 0; /* Remove default margin */
  padding: 0 !important;
  box-sizing: border-box; /* Remove default padding */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-attachment: fixed; /* Fix the background image */
  background-size: cover; /* Cover the entire viewport without stretching */
  overflow: auto; /* Hide any overflow */
  height:100vh; /* Set the height to 100% of the viewport */
  width: 100%; /* Set the width to 100% of the viewport */
}

.center {
  padding:0 !important;
  margin:0;
  box-sizing: border-box;
}
  