
.custom-form{
  width: fit-content;
  background: transparent;
  margin-bottom: 1.5rem;
  padding: 30px 40px;
  backdrop-filter:blur(20px);
  border: 2px solid rgba(255,255,255, .2);
  color: #fff;
  border-radius: 10px;
}

.custom-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  font-size: 30px;
  color: white;/* Label color */
}

.custom-form input {
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: none;
  outline:none;
  border-radius: 40px;
  border: 2px solid rgba(255,255,255 .2);
  transition: all 0.3s ease; /* Smooth transition for interaction */
}

.custom-form input:focus {
  outline: none;
  box-shadow: inset 3px 3px 7px #d1d9e6, inset -3px -3px 7px #ffffff; /* Change shadow on focus */
}
/* Hide default radio button */
.custom-radio-button {
  display: flex;
}

.custom-radio-button input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}
/* Custom radio button styling */
.custom-radio-button label {
  display: inline-block;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-right: 20px;
  font-size: 16px;
}
/* Custom radio circle */
.custom-radio-button label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #f0f2f5;
  border: 2px solid #052548;
  border-radius: 50%;
}
/* Inner circle to show when checked */
.custom-radio-button input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  background-color: #052548;
  border-radius: 50%;
}
/* Additional styling for radio buttons and other elements can be added similarly */
.btn-primary{
width:100% !important;
outline:none !important;
border: none !important;
height:45px !important;
background-color: white !important;
color:#333 !important;
font-weight: 600 !important;
font-size: 16px !important;
box-shadow: 0 0 10px rgba(0, 0, 0, .1);
border-radius: 40px !important;
}